.AlbumContainer {
  width: 30%;
  min-height: 20px;
  padding: 10px;
  margin-right: 1%;
  margin: 1%;
  background-color: rgb(190, 207, 209);
  border: 1px solid wheat;
  border-radius: 8px;
  padding-right: 35px;
  box-sizing: border-box; 
  display: inline-block;
}

.AlbumContainer:hover {
  background-color: rgb(197, 245, 238);
  color: black;
  transition: 0.3s ease-in-out;
}

.AlbumContainer .details {
  width: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.titleName{
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
  margin-left: 2rem;
}

.idName{
  background-color: rgb(213, 233, 255);
  margin-left: 2rem;
  border: #c9c9c9;
  border-radius: 20px;
  text-align: center;
}

.AlbumContainer .actions {
  display: flex;
  margin-top:1rem;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.AlbumContainer .actions > button {
  width: 80px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: rgb(83, 164, 204);
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.AlbumContainer .actions > button:hover {
  background-color: rgb(57, 128, 177);
  transition: 0.2s ease-in-out;
}

#cancelBtn {
  background-color: crimson;
}

.updatePopup {
    margin-top:5rem;
    margin-left: 20%;
    position: fixed;
    top: 0;
    height: 70vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #4c586f;
    border-radius: 20px;
  }
  .updateContainer {
      margin-top: 15px;
      height: 400px;
      width: 600px;
      border-radius: 10px;
      background-color: #84a4b9;
      display: flex;
      flex-direction: column;
      align-items: center;

  }
  .updateContainer .heading {
      text-align: center;
      color: white;
      margin-top: 30px;
  }
  .updateContainer .body {
      width: 70%;
      text-align: center;
      color: rgb(51, 84, 118);
      font-weight: bold;
      
  }
  .updateContainer .body .form {
      font-size: 1.3rem;
  }
  #input {
      margin-top: 10px;
      width: 100%;
      border: none;
      padding: 4px;

  }
  .formBtn {
    width: 150px;
    height: 35px;
    margin: 5px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
  }
  .cross {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
  .cross>button {
    background-color: transparent;
    border: none;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
    color: crimson;
  }